.content {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 110px;
  right: 0;
  bottom: 0;
}

.shadow {
  -webkit-mask-image: linear-gradient(to right, var(--bg-primary) 0%, transparent 100%);
  mask-image: linear-gradient(to left, var(--bg-primary) 0%, transparent 100%);
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  bottom: 0;
  z-index: 3;
  background: var(--bg-primary);
}

.panels {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  bottom: 0;
  z-index: 3;
}
