.summaryBox {
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-direction: column;

    .logo {
      margin-right: 2vmin;
      width: 8vmin;
      height: 8vmin;
      border-radius: 50%;
      border: 0.5vmin solid var(--primary-text);
      box-sizing: border-box;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
      .highlights {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        font-size: 3vmin;
        letter-spacing: -0.025vmin;
        line-height: 4vmin;
  
        .highlight {
          margin-bottom: 2vmin;
          line-height: 3vmin;
        }
      }

      .carouselImage {
        border-radius: 2.5vmin;
        overflow: hidden;
      }

      .carousel > div {
        width: 40vmin !important;
      }
    }

    /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .content {
        flex-direction: column;
      }

      .carousel > div {
        width: 100%;
      }
    }

    .header {
      font-family: 'Neue Haas';
      font-weight: 900;
      font-size: 7vmin;
      letter-spacing: -0.4vmin;
      text-transform: lowercase;
      display: flex;
      flex-direction: row;
      align-items: center;

      .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .caption {
          font-family: 'Neue Haas';
          font-weight: 900;
          font-size: 7vmin;
          letter-spacing: -0.4vmin;
          text-transform: lowercase;
          display: flex;
          flex-direction: column;
          line-height: 6vmin;

          .years {
            font-weight: 700;
            font-size: 3vmin;
            letter-spacing: -0.2vmin;
            line-height: 6vmin;
          }

          .positions {
            font-weight: 700;
            font-size: 2.5vmin;
            line-height: 2.75vmin;
            letter-spacing: -0.1vmin;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;

            .position:not(:last-child)::after {
              content: '←';
              margin-left: 0.5vmin;
              margin-right: 0.5vmin;
            }
          }

          .organization {
            font-weight: 700;
            font-size: 2vmin;
            line-height: 2.75vmin;
            letter-spacing: -0.05vmin;
          }
        }

        .divider {
          height: 1px;
          width: 100%;
          margin-top: 2vmin;
          border-bottom: 1px solid var(--primary-text);
          margin-bottom: 3vmin;
        }
      }
    }
  }
}
